
@{
    Layout = "_Layout";
}

<div class="imagenesIndex">
    <figure>
        <img src="~/imagenes/index/index2.png" />
        <input type="radio" name="radio-set" checked="checked" />
        <figcaption><span>Tenemos una extensa variedad</span></figcaption>
        <figure>
            <figure>
                <img src="~/imagenes/index/index4.png" />
                <input type="radio" name="radio-set" />
                <figcaption><span>Disfruta nuestros cupcakes</span></figcaption>

                <figure>
                    <img src="~/imagenes/index/index6.png" />
                    <input type="radio" name="radio-set" />
                    <figcaption><span>Prueba nuestros famosos macarrones</span></figcaption>

                    <figure>
                        <img src="~/imagenes/index/index7.png" />
                        <input type="radio" name="radio-set" />
                        <figcaption><span>Deliciosos pays hechos con amor</span></figcaption>
                        <figure>
                            <img src="~/imagenes/index/index8.png" />
                            <input id="ultimo" type="radio" name="radio-set" />
                            <figcaption><span>Para toda la familia</span></figcaption>
                        </figure>

                    </figure>

                </figure>


            </figure>


        </figure>

    </figure>

</div>


