@model IEnumerable<U2Practica5_SweetBakery.Models.ProductosViewModel>
@{
    Layout = "_Layout";
}


@foreach (var categoria in Model)
{
<section class="TipoP">
    <h2>@categoria.NombreCategoria</h2>
    @foreach (var p in categoria.Productos)
    {
        <div class="foto">
            <img src="~/imagenes/productos/@(p.Id).png" />
            <div class="info">
                <h5>@p.Nombre</h5>
                <p>@p.Descripcion</p>
            </div>
        </div>
    }
</section>
}






