@model Actividad3_Pixar.Models.CortosViewModel
@{
    Layout = "_Layout";
}



    <div id="principalPeliculas">
        <div id="pelis">
            @foreach (var cat in Model.Categoria)
        {
            <h1>@cat.Nombre</h1>
            @foreach (var c in cat.Cortometraje.OrderBy(x=>x.Nombre))
            {
                <div>
                    <a class="imgPelicula" href="~/cortos/@c.Nombre.Replace(" ", "-")">
                        <img src="~/images/portadas/@(c.Id)_pc.jpg" alt="@c.Nombre">
                    </a>
                    <div class="nombrePelicula">
                        <p>@c.Nombre</p>
                    </div>
                </div>
            }

           
            }


        </div>
    </div>



