@model Actividad3_Pixar.Models.Cortometraje
@{
    Layout = "_Layout";
}


<header>
    <nav class="menuHorizontal">
        <a href="~/Home/Index">
            <img id="logo" src="~/images/Disney_pixar.png">
        </a>
        <ul>
            <li>
                <a href="~/Home/Index">Inicio</a>
            </li>
            <li >
                <a href="~/peliculas">Películas</a>
            </li>

            <li class="selected">
                <a href="~/cortos">Cortometrajes</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div id="principalVerCorto">
        <img class="blur" src="~/images/portadas/@(Model.Id)_pc.jpg">
        <div class="datosCorto">
            <h1>@Model.Nombre</h1>
            <p>
                @Model.Descripcion
            </p>
        </div>
    </div>
</main>

