@model IEnumerable<Actividad3_Pixar.Models.Pelicula>

@{
    Layout = "_Layout";
}




    <div id="pelis">

        @foreach (var p in Model)
        {
            <div>
                <a class="imgPelicula" href="~/peliculas/@p.Nombre.Replace(" ", "-")">
                    <img src="~/images/portadas/@(p.Id)_p.jpg" alt="@p.Nombre">
                </a>
                <div class="nombrePelicula">
                    <p>@p.Nombre</p>
                </div>
            </div>
        }
    </div>
