<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="estilos.css" rel="stylesheet" />
    <title>Presidentes</title>
</head>
<body>
    <header>
        <img src="images/logo-mexico.png" />
        <p><a href="index.html">Presidentes de la República</a></p>
    </header>
    <main>
        @*<h2 class="titulo">Benito Pablo Juárez García</h2>
        <div class="informacion">
            <img class="foto" src="presidentes/32.jpg">
            <div class="datos">
                <div class="fila1">
                    <div>
                        <h4>Fecha de Nacimiento:</h4>
                        <a>Fecha de Nacimiento</a>
                    </div>
                    <div>
                        <h4>Fecha de Fallecimiento:</h4>
                        <a>Fecha de  Defunción</a>
                    </div>
                    <div>
                        <h4>Ciudad de Nacimiento:</h4>
                        <a>Ciudad de Nacimiento</a>
                    </div>
                    <div>
                        <h4>Estado:</h4>
                        <a>Estado</a>
                    </div>
                    <div>
                        <h4>Ocupación:</h4>
                        <a>Ocupación</a>
                    </div>
                    <div>
                        <h4>Inicio de gobierno:</h4>
                        <a>Inicio</a>
                    </div>
                    <div>
                        <h4>Termino de gobierno:</h4>
                        <a>Fin</a>
                    </div>
                    <div>
                        <h4>Partido Político:</h4>
                        <a><img src="partidos/1.jpg" height="20"> Partido</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h2 class="breve">Breve Historia</h2>
        <p class="historia">Biografía</p>*@

        @RenderBody()
    </main>
    <footer>
        <div class="footer">
            <p>Programación Web - Unidad 2</p>
            <img class="logo" src="images/logo-mexico.png" />
        </div>
    </footer>
</body>
</html>

