
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/estilos.css" rel="stylesheet" />
</head>
<body>
    <header>
        INSTITUTO TECNOLÓGICO DE ESTUDIOS SUPERIORES DE LA REGIÓN CARBONÍFERA

    </header>

    <main>
      @RenderBody()
    </main>
</body>
</html>

