
@{
    Layout = "_Layout";
}

<h4>Ingresa dos números para obtener un resultado de la suma</h4>
<form method="get" action="~/Home/ObtenerResultados">
    <fieldset>
        <legend>Datos</legend>
        <label>Número 1:</label><input name="n1" /><br />
        <label>Número 2:</label><input name="n2" /><br />
        <input type="submit" value="Sumar" />
    </fieldset>
</form>