<html>
<head>
    <title>Pagina de sumas</title>
    <link href="~/estilos.css" rel="stylesheet" />
</head>
<body>
    <h1>Programación web</h1>
    <h3>Esmeralda Lopez Muñoz 171G0234</h3>
    <h3>Septimo semestre</h3>
    @RenderBody()
    <footer>
        <h6>Septiembre 2020</h6>
    </footer>
</body>

</html>